Repository innulic/repo-trends, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Pipeline, Dependencies, Deployments, Local-Run, Tests

Test pr
  .github/workflows/labeler.yaml
Labels: Pipeline

Show user_name after login and use user default scope to not request email
  python-client/api/index.py
  python-client/api/templates/base.html
Labels: none

Set environment variables permanently
  run/local-run.sh
Labels: Local-Run

Show repos from trends page of github, if user was logged in
  python-client/api/index.py
  python-client/api/login_data.py
  python-client/api/templates/base.html
  python-client/api/templates/index.html
  requirements.txt
Labels: none

Modify script to check environment variables correctly
  run/local-run.sh
Labels: Local-Run

Show repos, that user hasn't forked, watched or stared
  python-client/api/index.py
  python-client/api/login_data.py
Labels: none

Change versel config to support different files
  vercel.json
Labels: Deployments

change build back
  vercel.json
Labels: Deployments

try to fix vercel
  .github/workflows/deploy_reusable.yaml
Labels: Pipeline

try to fix deployment
  .github/workflows/deploy_reusable.yaml
Labels: Pipeline

fix deployment
  vercel.json
Labels: Deployments

try to fix vercel
  .github/workflows/deploy_reusable.yaml
  vercel.json
Labels: Pipeline, Deployments

change version
  .github/workflows/deploy_reusable.yaml
Labels: Pipeline

move option to deploy commanf that supports it
  .github/workflows/deploy_reusable.yaml
Labels: Pipeline

add second file to vercel deployment
  vercel.json
Labels: Deployments

use directory name in import
  python-client/api/index.py
Labels: none

add module
  python-client/api/__init__.py
Labels: none

specify all python files in build
  vercel.json
Labels: Deployments

move import
  python-client/api/__init__.py
  python-client/api/index.py
Labels: none

add module file
  python-client/api/__init__.py
Labels: none

add python path
  vercel.json
Labels: Deployments

change pipeline
  .github/workflows/deploy.yaml
Labels: Pipeline

fix pipeline
  .github/workflows/deploy.yaml
Labels: Pipeline

fix space for modile
  python-client/api/templates/base.html
Labels: none

Add auth error handler
  python-client/api/index.py
Labels: none

Add continuting guide
  CONTRIBUTE.md
  images/Screenshot 2024-06-17 at 19.33.41.png
Labels: Documentation

.github/labeler.yml:

# Add 'Documentation' label to any changes within 'docs' folder or any subfolders
Documentation:
- changed-files:
  - any-glob-to-any-file: 
    - docs/**
    - '**/*.md'

Pipeline:
- changed-files:
  - any-glob-to-any-file:
    - .github/**

Dependencies:
- changed-files:
  - any-glob-to-any-file:
    - requierements.txt

Deployments:
- changed-files:
  - any-glob-to-any-file:
    - vercel.json

Local-Run:
- changed-files:
  - any-glob-to-any-file:
    - run/local-run.sh

CodeBase:
- all:
  - changed-files:
    - any-glob-to-any-file: 'python-client/api/**'
    - all-globs-to-all-files: '!python-client/api/tests.py'

Tests:
- changed-files:
  - any-glob-to-any-file:
    - 'python-client/api/tests.py'
